*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FAFAFA;
    width: 100%;
    height: fit-content;
    font: 500 1rem 'Montserrat', sans-serif;
    color: #333333;
}

main{
    width: 93%;
    margin: auto;
}

#description{
    font-style: italic;
    font-size: 0.75rem;
    color: #4F4F4F;
    display: flex;
    align-items: flex-start;
}

#description img{
    width: 15px;
    margin-top: 5px;
}

#description p{
    width: 95%;
    margin-left: 4%;
}

#img-cake{
    width: 100%;
    margin: 9% 0 6% 0;
}

h1{
    margin: 10% 0 4% 0;  
    color: #000000;
    font: 700 1.5rem 'Playfair Display', serif;
}

h2{
    margin: 5% 0 1% 0;
    font: 700 1.125rem 'Playfair Display', serif;
}

.small{
    width: fit-content;
}

#time-smaller{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.time{
    display: flex;
    width: 33%;
    margin: 5% 0;
}

.time div{
    margin-left: 4px;
    font-size: 0.625rem;
}

.serving, #orange{
    color:#F2994A;
}

h4{
    font-weight: 700;
    font-size: 0.5rem;
    text-transform: uppercase;
    color: #BDBDBD;
}

form{
    display: flex;
    flex-direction: column;
}

h3{
    margin: 4% 0;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
}

h5{
    margin: 6% 0 6% 0;
    font: 700 1.5rem 'Playfair Display', serif;
}

.check{
    display: flex;
    align-items: flex-start;
    margin: 2% 0;
    font-size: 0.875rem;
    font-weight: 400;
}

input[type="checkbox"] {
    height: 21px;
    width: 21px;
    vertical-align: middle;
    border: 1px solid #828282;
    border-radius: 4px;
    appearance: none;
}

input[type="checkbox"]:checked {
    background-color: #F2994A;
}

.check div{
    width: 9%;
    height: 100%;
}

label{
    width: 91%;
}

.inst-smaller{
    display: flex;
    justify-content: space-between;
    padding : 3% 0;
}

.inst-smaller div{
    background: #F2994A;
    border-radius: 6px;
    height: 36px;
    width: 36px;
    font: 700 1.5rem 'Playfair Display', serif;
    color: #FFFFFF;
    text-align: center;
    line-height: 30px;
}

.inst-smaller p{
    width: 85%;
    margin-left: 4%;
    font-weight: 400;
    color: #000000;
}

#source{
    font-style: italic;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 150%;
    color: #BDBDBD
}

footer {
    font-size: 0.875rem;
    text-align: center;
    color: #A9A9A9;
    margin: 13% 0 3% 0;
}

  @media screen and (min-width: 900px) {
    main{
        width: 75%;
    }

    #main-content{
        display: flex;
    }

    #time-big-box{
        order:1;
        width: 20%;
        height: fit-content;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        padding: 4% 1%;
        flex-shrink: 0;
    }

    .ingredients{
        width: 80%;
    }

    #instructions{
        width: 80%;
    }

    h1{
        margin: 7% 0 3% 0;  
        font-size: 3rem;
    }
    
    #description p{
        width: 54%;
        margin-left: 2%;
    }

    #img-cake{
        width: 100%;
        max-width: 1300px;
        margin: 4% 0;
    }

    #time-smaller{
        flex-direction: column;
    }

    h4{
        font-size: 0.625rem;
        margin-bottom: 10%;
    }

    .time{
        width: 60%;
        margin: auto;  
        padding: 9% 0;
    }

    .time div, #description p{
      font-size: 0.875rem;
    }

    .small .material-symbols-outlined{
        font-size: 2.25rem;
    }

    h2, h5{
        font-size: 1.5rem;
    }

    .ingredients h3{
        font-size: 1.125rem;
    }

    .check, #source{
        font-size: 1rem;
        margin: 1.5% 0;
    }

    h5{
        margin: 4% 0 3% 0;
    }

    .check div {
        width: 5%;
    }

    .inst-smaller p{
        width: 95%;
        margin: 0 2%;
    }

  }