* {
    margin: 0;
    padding: 0;
}

body{
    color: #000000;
    font-style: normal;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#pagedes{
    display: flex;
    justify-content: space-between;
    margin: 100px 150px 96px 13%;
}

h1{
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 48px;
    letter-spacing: -0.045em;
    margin-top: 5px;
}

h2, #text p, .person p{
    line-height: 27px;
    font-size: 1.125rem;
    font-family: 'Poppins', sans-serif;
}

h2{
    font-weight: 600;
    text-transform: uppercase;
}

#text p{
    font-weight: 400;
    margin-top: 10px;
}

#text{
    max-width: 50%;
}

.person p{
    font-weight: 600;
}

.card{
    width: 30%;
    display: flex;
    gap: 6px;
}

#people{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    width: 60%;
    height: fit-content;
    padding-bottom: 40px;
}

.person{
    height: 100%;
}

img{
    max-width:100%;
    max-height:100%;
}

.job{
    writing-mode: vertical-rl;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 12px;
    text-transform: uppercase;
}

#card2, #card5{
    margin-top: 100px;
}

footer{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 17px;
    text-align: center;
    color: #A9A9A9;
    padding-bottom: 5px;
}

@media screen and (max-width: 930px){

    #people{
        width: 75%
    }

    .person{
        width: 90%;
    }

    .card{
        width: 47%;
        max-width: 260px;
        max-height: 370px;
    }

    #card2, #card4, #card6{
        margin-top: 100px;
    }

    #card5{
        margin-top: 0;
    }

    h2, #text p, .person p{
        line-height: 21px;
        font-size: 0.875rem;
    }

    .job{
        font-size: 0.625rem;
        line-height: 8px;
    }

    #pagedes{
        flex-direction: column;
        margin : 71px 50px 32px 32px;
    }

    h1{
        text-align: left;
        margin-bottom: 32px;
    }

    #text{
        margin-left: 0;
        max-width: 95%;
    }

    #text p{
        font-size: 0.875rem;
        line-height: 21px;
    }
}